<script>
    $(document).ready(function () {
        $('#incidenciasTable').DataTable({
            "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
        });
    });
</script>

<div class="container" width="800px">
    {{ form_start (form,{'action':'','method':'POST'}) }}
    <div class="panel panel-default">
        <div class="panel-heading"> Identificación del Usuario</div>
        <div style="padding-left: 30px">
            <span><h3>{{ usuarioRemedy.apellidos }}, {{ usuarioRemedy.nombre }}</h3></span>
        </div>
    </div>
    <div id="tabs" class="pestana container">
        <ul class="nav nav-tabs">
            <li><a id="t1" href="#datosGen">Datos Generales</a></li>
            <li><a id="t2" href="#anotaciones">Incidencias</a></li>
        </ul>
        <div id="datosGen">
            <div class="form_row ">{{ form_row(form.id) }}</div>
            <div class="form_row ">{{ form_row(form.login) }}</div>
            <div class="form_row ">{{ form_row(form.apellidos) }}</div>
            <div class="form_row ">{{ form_row(form.nombre) }}</div>
            <div class="form_row ">{{ form_row(form.centro) }}</div>
            <div class="clearfix"></div>
        </div>
        <div id="anotaciones">
            <br/><br/>
            <table id="incidenciasTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Numero Remedy</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for incidencia in incidencias %}
                    <tr>
                        <td>{{ incidencia.id is empty ? "" :  incidencia.id }}</td>
                        <td>{{ incidencia.fechaEntrada is empty ? "": incidencia.fechaEntrada|date('d-m-Y H:i:s') }}</td>
                        <td>{{ incidencia.numero }}</td>
                        <td>{{ incidencia.descripcionProblema }}</td>
                        <td>{{ incidencia.estado }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="form_row mismalinea">{{ form_row(form.Guardar) }}</div>
</div>