<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle btn-primary" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administración <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{path("queryUsuario")}}">Gestión Usuarios</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ path("queryFichero") }}">Consulta Carga Ficheros</a></li>
        <li><a href="{{ path("cargaFichero") }}">Carga Fichero Encargos</a></li>
        <li><a href="{{ path("cargaFicheroRemedy") }}">Carga Fichero Remedy</a></li>
{#        <li><a href="{{ path("cargaSeguimiento") }}">Carga Fichero Seguimiento </a></li>#}
        <li><a href="{{ path("cargaAgrupacion") }}">Actualizar Agrupación  </a></li>
        <li><a href="{{ path("cargaLineaSeguimiento") }}">Actualizar Linea Seguimiento </a></li>
    </ul>
</div>
