{% extends "base.html.twig" %}

{% block title %}
    {% if (accion == 'EDITAR') %}
        {{ certificadoServicios.descripcion | upper }}
    {% else %}
        GENERAR CERTIFICADO
    {% endif %}
{% endblock %}
{% block titulo %} CERTIFICACIONES DE SERVICIO  **{{ accion }}**
    {% if (accion == 'EDITAR') %}
        <br/><br/> {{ certificadoServicios.descripcion }}
    {% endif %}
    <a href="{{ path("queryCertificadoServicios") }}" class="btn btn-success">Volver</a>
{% endblock %}
{% block contenido %}
    <script>
        $(document).ready(function () {
            $("#formCertificadoServicios_anyo").change(function () {

                idAnyo = $("#formCertificadoServicios_anyo").val();
                let recurso;
                recurso = Routing.generate("ajaxPeriodo", {"idAnyo": idAnyo}, true);
                $.ajax({
                    type: "POST",
                    url: recurso,
                    success: function (data, status, xhr) {
                        $("#formCertificadoServicios_mes").html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $("#formCertificadoServicios_mes").html('error');
                    }
                });
            });

            $("#formCertificadoServicios_eliminarCertificado").click(function () {
                bootbox.confirm({
                    message: "Esta seguro de eliminar  el certificado de Servicios",
                    buttons: {
                        confirm: {
                            label: 'Confirmar',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            let recurso;
                            let id;
                            id = $("#formCertificadoServicios_id").val();
                            recurso = Routing.generate("deleteCertificadoServicios", {"id": id}, true);
                            window.location = recurso;
                        }
                        ;
                    }
                });
            });
            $("#formCertificadoServicios_generarCertificado").click(function () {
                $("#procesando").show();
                let recurso;
                recurso = Routing.generate("addCertificadoServicios", true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_queryEncargos").click(function () {
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("queryEncargos", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_generarImportes").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("generarImportes", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_incluirEncargo").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("incluirEncargo", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_verHorasCuotaFija").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("horasCuotaFija", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_imprimirCertificado").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("imprimirCertificadoServicios", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_imprimirCertificadoActividad").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("certificadoActividad", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_penalizaciones").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("penalizaciones", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_penalizacionesDetalle").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("penalizacionesDetalle", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_exportarReaperturas").click(function () {
                // $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("exportarReaperturas", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_revisionPenalizaciones").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("revisionPenalizaciones", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_cargaRevisionPenalizaciones").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("cargaRevisionPenalizaciones", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_cerrarCertificado").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("cerrarCertificado", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_imprimirActividadSCF").click(function () {
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("imprimirActividadSCF", {"id": id}, true);
                window.location = recurso;
            });


            $("#formCertificadoServicios_abrirCertificado").click(function () {
                bootbox.confirm({
                    message: "Esta seguro de abrir el certificado de Servici, asegurese que no se ha enviado al proveedor y que no esté ya firmado y tramitado",
                    buttons: {
                        confirm: {
                            label: 'Confirmar',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            let recurso;
                            let id;
                            id = $("#formCertificadoServicios_id").val();
                            recurso = Routing.generate("abrirCertificado", {"id": id}, true);
                            window.location = recurso;
                        }
                        ;
                    }
                });
            });


        });
    </script>

    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        <hr/>
    {% endfor %}

    {% include 'certificadoServicios/form.html.twig' %}
{% endblock %}