<div class="container">
    {{ form_start (form,{'action':'','method':'POST'}) }}
    <div class="form_row">{{ form_row(form.id) }}</div>
    <div class="form_row">{{ form_row(form.indicador) }}</div>
    <div class="form_row">{{ form_row(form.diasRetrasoValoracion) }}</div>
    <div class="form_row">{{ form_row(form.diasRetrasoEntrega) }}</div>
    <div class="form_row">{{ form_row(form.diasPrevistosEjecucion) }}</div>
    <div class="form_row">{{ form_row(form.diasEjecucion) }}</div>
    <div class="form_row">{{ form_row(form.eliminada) }}</div>
    <div class="form_row">{{ form_row(form.Guardar) }}</div>
    <div class="clearfix"></div>
</div>