<script>

    $(document).ready(function () {

    });
</script>

<div class="container">
    {{ form_start (form,{'action':'','method':'POST'}) }}
    <div class="panel panel-default">
        <div class="panel-heading"> Importes del Contrato</div>
        <div class="panel-body">
            <div class="form_row mismalinea">{{ form_row(form.id) }}</div>
            <div class="form_row ">{{ form_row(form.contrato) }}</div>
            <div class="form_row ">{{ form_row(form.anyo) }}</div>
            <div class="form_row mismalinea muycorto">{{ form_row(form.cuotaFija) }}</div>
            <div class="form_row mismalinea muycorto">{{ form_row(form.cuotaVariable) }}</div>
            <div class="form_row mismalinea muycorto">{{ form_row(form.cuotaTasada) }}</div>
            <div class="form_row mismalinea muycorto">{{ form_row(form.cuotaFijaMensual) }}</div>
            <div class="clearfix"></div>
            <div class="form_row mismalinea muycorto">{{ form_row(form.tarifaHora) }}</div>
            <div class="form_row mismalinea muycorto">{{ form_row(form.tarifaHoraCs) }}</div>
            <div class="clearfix"></div>
            <div class="form_row ">{{ form_row(form.Guardar) }}</div>
        </div>
    </div>
</div>