{% extends "base.html.twig" %}
{% block titulo %}
    <div id='dtitulo' class="container"> ENCARGOS **CONSULTA** <br/>
        <span> AGRUPACION: {{ agrupacion.codigo }}:{{ agrupacion.descripcion }} </span>
        <span><a href="{{ path("queryAgrupacion") }}" class="btn btn-success">Consulta Agrupaciones</a> </span>
    </div>
{% endblock %} 

{% block contenido %}
    <script>
        $(document).ready(function () {

        });
    </script>

    <div class="container-fluid">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}
    </div>
    {{ sg_datatables_render(datatable) }}
{% endblock %}
