{% extends "base.html.twig" %}
{% block titulo %}
    <div id='dtitulo' class="container"> ENCARGOS **CONSULTA** <br/>
        {% if (agrupacion) %}
            <span> AGRUPACION: {{ agrupacion.codigo }}:{{ agrupacion.descripcion }} </span>
            <span><a href="{{ path("queryAgrupacion") }}" class="btn btn-success">Consulta Agrupaciones</a> </span>
        {% else %}
        {% endif %}
    </div>
{% endblock %} 

{% block contenido %}
    <script>
        $(document).ready(function () {
            $("#accordion").accordion();
            $(".check").checkboxradio();

            $("#aplicarFiltro").click(function(){
                alert ("aplicar filtro");
            });

            $("#quitarSeleccion").click(function(){
                alert ("quitar selecction");
            });
            $("#seleccionarTodo").click(function(){
                alert (" selecction");
            });


        });


    </script>
{#    <div id="accordion" class="container">#}
{#        <H3>Estado Encargo</H3>#}
{#        <div id="estadoEncargo">#}
{#            <label for="checkbox-1"> PRE</label>#}
{#            <input class="check" type="checkbox" name="checkbox-3" id="checkbox-1">#}
{#            <label for="checkbox-2"> PVA </label>#}
{#            <input class="check" type="checkbox" name="checkbox-3" id="checkbox-2">#}
{#            <label for="checkbox-3"> PAC </label>#}
{#            <input class="check" type="checkbox" name="checkbox-3" id="checkbox-3">#}
{#            <label for="checkbox-4"> EJE </label>#}
{#            <input class="check" type="checkbox" name="checkbox-4" id="checkbox-4">#}
{#            <label for="checkbox-5"> PVE </label>#}
{#            <input class="check" type="checkbox" name="checkbox-5" id="checkbox-5">#}
{#            <label for="checkbox-6"> VEP </label>#}
{#            <input class="check" type="checkbox" name="checkbox-6" id="checkbox-6">#}
{#            <label for="checkbox-7"> RPL </label>#}
{#            <input class="check" type="checkbox" name="checkbox-7" id="checkbox-7">#}
{#            <label for="checkbox-8"> EEP </label>#}
{#            <input class="check" type="checkbox" name="checkbox-8" id="checkbox-8">#}
{#            <label for="checkbox-9"> CAN </label>#}
{#            <input class="check" type="checkbox" name="checkbox-9" id="checkbox-9">#}
{#            <label for="checkbox-10"> CRR </label>#}
{#            <input class="check" type="checkbox" name="checkbox-10" id="checkbox-10">#}
{#            <br/>#}
{#            <button id="quitarSeleccion" type="button" class="btn btn-t btn-default btn-primary"> Borrar Selección</button>#}
{#            <button id="seleccionarTodo" type="button" class="btn btn-t btn-default btn-primary"> Seleccionar Todos</button>#}
{#        </div>#}
{#        <H3>objeto Encargo</H3>#}
{#        <div id="objetoEncargo">#}
{#        </div>#}
{#    </div>#}
{#    <div class="container">#}
{#        <button id = "aplicarFiltro" type="button" class="btn btn-t btn-default btn-success"> FILTRO</button>#}
{#    </div>#}

    <div class="container-fluid">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}
